In [2]:
import pandas as pd

In [11]:
citibike01=pd.read_csv("202001-citibike-tripdata.csv")
citibike02=pd.read_csv("202002-citibike-tripdata.csv")
citibike03=pd.read_csv("202003-citibike-tripdata.csv")
citibike04=pd.read_csv("202004-citibike-tripdata.csv")
citibike05=pd.read_csv("202005-citibike-tripdata.csv")
citibike06=pd.read_csv("202006-citibike-tripdata.csv")
citibike07=pd.read_csv("202007-citibike-tripdata.csv")
citibike08=pd.read_csv("202008-citibike-tripdata.csv")
citibike09=pd.read_csv("202009-citibike-tripdata.csv")
citibike10=pd.read_csv("202010-citibike-tripdata.csv")
citibike11=pd.read_csv("202011-citibike-tripdata.csv")
citibike12=pd.read_csv("202012-citibike-tripdata.csv")

In [12]:
citibike2020whole= pd.concat([citibike01, citibike02,citibike03,citibike04,citibike05,citibike06,citibike07,citibike08,citibike09,citibike10,citibike11,citibike12], ignore_index=True, sort=False)

In [13]:
citibike2020whole.shape

(19506857, 15)

In [14]:
#remove 0 gender
filter1= (citibike2020whole.gender !=0)
citibike2020whole_no0 = citibike2020whole[filter1]
citibike2020whole_no0.shape

(17350280, 15)

In [15]:
#remove duration less than 5 min and more than 5 hrs
filter2=(citibike2020whole_no0.tripduration>300)&(citibike2020whole_no0.tripduration<18000)
citibike_cleaned = citibike2020whole_no0[filter2]
citibike_cleaned.shape

(14675129, 15)

In [16]:
citibike_cleaned.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
19506849,1178,2020-12-31 23:58:14.1000,2021-01-01 00:17:52.3380,3335,Union St & 4 Ave,40.677274,-73.982820,3860,Wilson Ave & Troutman St,40.701660,-73.927540,47991,Customer,1988,1
19506850,1344,2020-12-31 23:58:17.4800,2021-01-01 00:20:41.6070,456,E 53 St & Madison Ave,40.759711,-73.974023,468,Broadway & W 56 St,40.765265,-73.981923,36946,Subscriber,1994,1
19506851,589,2020-12-31 23:58:21.2620,2021-01-01 00:08:10.9220,3999,Adam Clayton Powell Blvd & W 138 St,40.816960,-73.942296,3518,Lenox Ave & W 126 St,40.808442,-73.945209,48973,Subscriber,1997,1
19506852,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526,E 33 St & 5 Ave,40.747659,-73.984907,3614,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,1
19506855,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,1

In [17]:
citibike_cleaned.to_csv("citibike2020whole.csv", index=False)

In [21]:
sample_size = 1000
sampleDf = citibike_cleaned.sample(n = sample_size)

In [25]:
sampleDf.to_csv("citibike202001_1000.csv", header = True)