In [1]:
import pandas as pd

In [2]:
citibike01=pd.read_csv("citibike202001_1000.csv")

In [3]:
citibike02=pd.read_csv("citibike202002_1000.csv")

In [4]:
citibike03=pd.read_csv("citibike202003_1000.csv")

In [5]:
citibike04=pd.read_csv("citibike202004_1000.csv")
citibike05=pd.read_csv("citibike202005_1000.csv")
citibike06=pd.read_csv("citibike202006_1000.csv")
citibike07=pd.read_csv("citibike202007_1000.csv")
citibike08=pd.read_csv("citibike202008_1000.csv")
citibike09=pd.read_csv("citibike202009_1000.csv")
citibike10=pd.read_csv("citibike202010_1000.csv")
citibike11=pd.read_csv("citibike202011_1000.csv")
citibike12=pd.read_csv("citibike202012_1000.csv")

In [6]:
bigdata = pd.concat([citibike01, citibike02,citibike03,citibike04,citibike05,citibike06,citibike07,citibike08,citibike09,citibike10,citibike11,citibike12], ignore_index=True, sort=False)

In [7]:
bigdata

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,900,53:08.4,08:09.0,522,E 51 St & Lexington Ave,40.757148,-73.972078,526,E 33 St & 5 Ave,40.747659,-73.984907,31219,Customer,1984,1
1,1187,19:33.0,39:20.7,529,W 42 St & 8 Ave,40.757570,-73.990985,3282,5 Ave & E 88 St,40.783070,-73.959390,35196,Subscriber,1980,1
2,512,23:08.7,31:41.3,3178,Riverside Dr & W 78 St,40.784145,-73.983625,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,41754,Subscriber,1964,1
3,799,37:43.5,51:02.7,3755,DeKalb Ave & Franklin Ave,40.690648,-73.957462,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,40221,Subscriber,1987,1
4,650,16:48.0,27:38.4,442,W 27 St & 7 Ave,40.746647,-73.993915,358,Christopher St & Greenwich St,40.732916,-74.007114,32828,Subscriber,1964,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,539,39:49.7,48:49.2,4072,W 48 St & Rockefeller Plaza,40.757936,-73.979603,3809,W 55 St & 6 Ave,40.763189,-73.978434,48772,Subscriber,1948,1
11996,711,04:59.7,16:51.1,515,W 43 St & 10 Ave,40.760094,-73.994618,4215,Hudson St & W 13 St,40.740057,-74.005274,44348,Subscriber,1988,2
11997,468,12:50.7,20:39.3,3620,11 St & 43 Ave,40.751907,-73.947912,3654,31 St & Northern Blvd,40.751870,-73.933493,47310,Subscriber,1986,1
11998,651,35:12.7,46:04.1,3894,8 Ave & W 16 St,40.740983,-74.001702,461,E 20 St & 2 Ave,40.735877,-73.982050,36057,Customer,1990,2
11999,536,47:46.5,56:42.6,500,Broadway & W 51 St,40.762288,-73.983362,3164,Columbus Ave & W 72 St,40.777057,-73.978985,44490,Subscriber,1987,1

In [13]:
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             12000 non-null  int64
 1   starttime                12000 non-null  object
 2   stoptime                 12000 non-null  object
 3   start station id         12000 non-null  int64
 4   start station name       12000 non-null  object
 5   start station latitude   12000 non-null  float64
 6   start station longitude  12000 non-null  float64
 7   end station id           12000 non-null  int64
 8   end station name         12000 non-null  object
 9   end station latitude     12000 non-null  float64
 10  end station longitude    12000 non-null  float64
 11  bikeid                   12000 non-null  int64
 12  usertype                 12000 non-null  object
 13  birth year               12000 non-null  int64
 14  gender                   12000 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 1.4+ MB

In [10]:
bigdata.to_csv("citibike2020.csv")